<div class="modal-header">
    <h3 class="modal-title" translate="CONFIGURE_JOB.MODAL.TITLE"></h3>
</div>

<div class="modal-body">
  <ul class="nav nav-tabs nav-tabs-head" role="tablist">
        <li ng-class="{ active: configureJobController.topTabs.isActive(1) }"><a ng-click="configureJobController.topTabs.setActive(1)" role="tab" translate="CONFIGURE_JOB.MODAL.TABS.OPTIONS"></a></li>
        <li ng-class="{ active: configureJobController.topTabs.isActive(2) }"><a ng-click="configureJobController.topTabs.setActive(2)" role="tab" ng-show="configureJobController.datafileGridOptions.data.length > 0" translate="CONFIGURE_JOB.MODAL.TABS.INPUTS"></a></li>
  </ul>
  <div id="jobOptionsTab" class="tab-content job-options-tab-content" >
    <div ng-if="configureJobController.topTabs.isActive(1)" role="tabpanel" id="job-options" >
    <div class="configure-job-box" take-up-remaining-height>

        <div class="row">
            <div ng-if="configureJobController.compatibleJobTypes.length > 1" class="col-md-4 form-group">
                <label ng-if="configureJobController.compatibleJobTypes.length > 1" class="control-label" for="jobtype" translate="CONFIGURE_JOB.MODAL.SELECT_LABEL.JOB_TYPE"></label>
                <select ng-model="configureJobController.selectedJobType" ng-options="jobType as jobType.name for jobType in configureJobController.compatibleJobTypes  | orderBy: 'name'" ng-change="configureJobController.jobTypeSelected()" class="form-control" id="jobtype">
                </select >
            </div>
        </div>

        <div ng-if="configureJobController.compatibleJobTypes.length === 1"><h4 translate="CONFIGURE_JOB.MODAL.SINGLE_JOB_TYPE.TITLE" translate-values="{ jobName: configureJobController.compatibleJobTypes[0].name }"></h4></div>
        <div ng-if="configureJobController.loadingJobTypes" translate="CONFIGURE_JOB.MODAL.JOB_TYPES_LOADING_MESSAGE"></div>
        <div ng-if="configureJobController.compatibleJobTypes.length === 0 && !configureJobController.loadingJobTypes" translate="CONFIGURE_JOB.MODAL.NO_JOB_TYPES_MESSAGE"></div>

        <form novalidate name="configureJobController.form">
            <div class="form-group" ng-repeat="option in configureJobController.selectedJobType.jobOptions" ng-class="{'has-error' : configureJobController.form.$submitted && configureJobController.form['{{option.name}}'].$invalid }">

                <div ng-if="option.type !== 'booleanGroup'">

                    <div ng-if="option.type === 'boolean'">
                        <label class="control-label" for="{{option.name}}" uib-tooltip="{{option.tip}}" tooltip-placement="top-left">{{option.name}}</label>
                        <input class="job-options-checkbox" type="checkbox" name="{{option.name}}" ng-model="option.value">
                    </div>

                    <label class="control-label" ng-if="option.type !== 'boolean'" for="{{option.name}}" uib-tooltip="{{option.tip}}" tooltip-placement="top-left">{{option.name}}</label>

                    <select class="form-control" ng-if="option.values.length > 0" ng-options="value as value for value in option.values | orderBy: value" ng-model="option.value"></select>
                    <input type="string" name="{{option.name}}" class="form-control" ng-if="option.type === 'string'" ng-model="option.value"></input>
                    <input type="number" name="{{option.name}}" class="form-control" ng-if="option.type === 'float'" ng-model="option.value" max="{{option.maxValue}}" min="{{option.minValue}}"></input>
                    <input type="number" name="{{option.name}}" class="form-control" ng-if="option.type === 'integer'" ng-model="option.value" max="{{option.maxValue}}" min="{{option.minValue}}" pattern="^[^\.]*$"></input>

                    <div ng-if="configureJobController.form.$submitted">
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.required" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.REQUIRED"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.pattern" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.INTEGER"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.number" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.FLOAT"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.max && !configureJobController.form['{{option.name}}'].$error.pattern" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.MAX" translate-values="{ min: option.minValue, max: option.maxValue}"></p>
                        <p ng-show="configureJobController.form['{{option.name}}'].$error.min && !configureJobController.form['{{option.name}}'].$error.pattern" class="bg-danger" translate="CONFIGURE_JOB.MODAL.ERROR.MIN" translate-values="{ min: option.minValue, max: option.maxValue}"></p>
                    </div>
                </div>

                <div class="flex-container" ng-if="option.type === 'booleanGroup'">
                    <div><label class="control-label boolean-group-label" for="{{option.groupName}}">{{option.groupName}}</label></div>
                    <div class="boolean-group-flex-container"><span ng-repeat="value in option.values" class="well radio-well"><label class="radio-inline"><input type="radio" name="{{option.groupName}}" ng-model="option.value" value="{{value.programParameter}}">{{value.name}}</label></span></div>
                </div>

            </div>
        </form>

        <div ng-if="configureJobController.compatibleJobTypes.length > 0 && !(configureJobController.selectedJobType.jobOptions.length > 0)" translate="CONFIGURE_JOB.MODAL.NO_JOB_OPTIONS_MESSAGE"></div>

    </div>
    </div>
    <div ng-if="configureJobController.topTabs.isActive(2)" role="tabpanel" id="job-inputs" >
    <div class="job-inputs-box" >
    <ul class="nav nav-tabs nav-tabs-head" role="tablist">
        <li ng-class="{ active: configureJobController.inputTabs.isActive(1) }"><a ng-click="configureJobController.inputTabs.setActive(1)" role="tab" ng-show="configureJobController.datasetGridOptions.data.length > 0" translate="CONFIGURE_JOB.MODAL.INPUTS.TABS.DATASETS"></a></li>
        <li ng-class="{ active: configureJobController.inputTabs.isActive(2) }"><a ng-click="configureJobController.inputTabs.setActive(2)" role="tab" ng-show="configureJobController.datafileGridOptions.data.length > 0" translate="CONFIGURE_JOB.MODAL.INPUTS.TABS.DATAFILES"></a></li>
    </ul>
    <div id="jobInputsTab" class="tab-content job-details-tab-content" >

        <div ng-if="configureJobController.inputTabs.isActive(1)" role="tabpanel" id="job-output" >
                <div ui-grid="configureJobController.datasetGridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-selection ui-grid-resize-columns class="configure-jobs-grid" take-up-remaining-height>
                    <div class="no-rows row" ng-show="configureJobController.datasetGridOptions.data.length == 0">
                        <div class="col-xs-12 empty-message" translate="CONFIGURE_JOB.MODAL.INPUTS.NO_DATASETS"></div>
                    </div>
                </div>
        </div>

        <div ng-if="configureJobController.inputTabs.isActive(2)" role="tabpanel" id="job-output" >
            <div ui-grid="configureJobController.datafileGridOptions" ui-grid-infinite-scroll ui-grid-selection ui-grid-selection ui-grid-resize-columns  class="configure-jobs-grid" take-up-remaining-height>
                <div class="no-rows row" ng-show="configureJobController.datafileGridOptions.data.length == 0">
                    <div class="col-xs-12 empty-message" translate="CONFIGURE_JOB.MODAL.INPUTS.NO_DATAFILES"></div>
                </div>
            </div>
        </div>
        
    </div>
    </div>
    <div class="box meta-box" >
	<div ng-if="configureJobController.metaTabs.length > 0">
		<uib-tabset>
	    	<uib-tab ng-repeat="tab in configureJobController.metaTabs" ng-show="tab.items.length" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
	      		<div class="tab-content">
					<div class="item" ng-repeat="item in tab.items">
						<span class="label" ng-if="item.label !== null">{{item.label}}</span>
						<span ng-if="!item.template" class="value">{{item.value}}</span>
						<span ng-if="item.template" compile="item.template"></span>
					</div>
				</div>
	    	</uib-tab>
		</uib-tabset>
	</div>
	</div>
    <p ng-if="configureJobController.errMsg">Error: {{configureJobController.errMsg}}</p>
  </div>
  </div>
</div>

<div class="modal-footer">
    <div ng-if="configureJobController.compatibleJobTypes.length > 0">
        <span ng-if="configureJobController.isInteractive()">
            <button class="btn btn-primary"
                    ng-click="configureJobController.checkFormValidity() ? configureJobController.submitSingleJob() : null"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.INTERACTIVE.TEXT"></button>
            <button class="btn btn-warning"
                    ng-click="configureJobController.close()"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.INTERACTIVE.TEXT"></button>
        </span>
        <span ng-if="configureJobController.isBatchSingular()">
            <button class="btn btn-primary"
                    ng-click="configureJobController.checkFormValidity() ? configureJobController.submitSingleJob() : null"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.BATCH.TEXT"></button>
            <button class="btn btn-warning"
                    ng-click="configureJobController.close()"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.BATCH.TEXT"></button>
        </span>
        <span ng-if="configureJobController.isBatchMultiple() && !configureJobController.isSingleJobForced()">
            <button class="btn btn-primary"
                    ng-click="configureJobController.checkFormValidity() ? configureJobController.openConfirmJobModal() : null"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.BATCH.TEXT"></button>
            <button class="btn btn-warning"
                    ng-click="configureJobController.close()"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.BATCH.TEXT"></button>
        </span>
        <span ng-if="configureJobController.isBatchMultiple() && configureJobController.isSingleJobForced()">
            <button class="btn btn-primary"
                    ng-click="configureJobController.checkFormValidity() ?  configureJobController.submitSingleJob() : null"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.BATCH.TEXT"></button>
            <button class="btn btn-warning"
                    ng-click="configureJobController.close()"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.BATCH.TEXT"></button>
        </span>
        <span ng-if="configureJobController.isMultipleBatch()">
            <button class="btn btn-primary"
                    ng-click="configureJobController.checkFormValidity() ? configureJobController.submitMultipleJobs() : null"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.MULTIPLE_BATCH.TEXT"
                    uib-tooltip="{{'CONFIGURE_JOB.MODAL.BUTTON.SUBMIT_JOB.MULTIPLE_BATCH.TOOLTIP.TEXT' | translate : { numJobs: configureJobController.numInputEntities } }}"
                    tooltip-append-to-body="true"
                    tooltip-placement="top"></button>
            <button class="btn btn-warning"
                    ng-click="configureJobController.close()"
                    translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.MULTIPLE_BATCH.TEXT"></button>
        </span>
    </div>

    <div ng-if="configureJobController.compatibleJobTypes.length === 0">
        <button class="btn btn-warning" ng-click="configureJobController.close()" translate="CONFIGURE_JOB.MODAL.BUTTON.CLOSE.TEXT"></button>
    </div>
</div>