.flex-container {
  display: flex;
}

.filter-row {
  padding-right: 5px;
  padding-bottom: 5px;

}

.filter-select {
  height: 25px;
  padding: 0px;
}

.job-details-panel {
  margin-bottom: 0px;
  margin-top: 15px;
  height: 100%;
  overflow-y: scroll;
}

.job-details-tab-content {
  height: calc(100% - 57px) !important;
}

.configure-job-btn-flex-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.configure-job-box {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 15px;
}

.job-options-checkbox {
  position: relative;
  left: 5px;
  top: 2px;
}

.boolean-group-label {
  white-space: nowrap;
  padding-right: 10px
}

.boolean-group-flex-container {
  display: flex;
  flex-wrap: wrap;
}

.radio-well {
  padding: 0px 3px 0px 3px;
  margin: 0px 5px 5px 5px;
}